html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    height:auto;
    overflow: scroll;
    background-color: rgb(189, 189, 189);
}
body {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: rgb(40, 40, 40);
}

.header {
    margin: 0px 0px 40px;
    height: 15%;
    background-color: rgb(92, 2, 114);
}
.menu ul{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}
.menu a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid #000;
    border-radius: 20px;
    padding: 5px;
    transition: 0.5s;
} 
.menu a:hover {
    color: rgb(92, 2, 114);
    background-color: #000;
}

.main {
    display: flex;
    justify-content: space-around;
}

.left-said {
    height: max-content;
    display: flex;
    flex-direction: column;
    background-color: rgb(92, 2, 114);
}
.left-said img {
    width: 100%;
}
.contacts {
    margin: 20px 0px 0px;
}
.contacts ul {
    font-size: 30px;
}
.contacts li {
    margin: 15px 0px;
    font-size: 15px;
}
.contacts a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
.contacts a:hover {
    color: #fff;
    cursor: pointer;

}
.right-said {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(92, 2, 114);
}
.name-job {
    width: 56em;
    background-color: rgb(189, 189, 189);
    text-align: center;
    font-family: 'Rubik', sans-serif;
}
.my-code {
    display: none;
}
.my-code.active {
    display: block;
}
.decoration {
    width: 80%;
}
.decoration:hover {
    color: #fff;
    cursor: pointer;
}
footer {
    display: flex;
    justify-content: space-around;
    margin: 15px 0px 15px;
    background-color: rgb(92, 2, 114);
}
footer a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
footer a:hover{
    color: #fff;
    cursor: pointer;
}
.rss {
    width: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
