html {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 0;
    height:auto;
    overflow: scroll;
    background-color: #202020;
}

.header {
    width: 100%;
    height: 3%;
    background-color: #800080;
}

.body {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 1920px;
    margin: auto;
    border: 2px solid;
}

.header ul {
    display: flex;
    justify-content: space-around;
    font-size: 1.5em;
    margin: 0.5em;
}

.header li {
    list-style-type: none;

}

.header .menu a {
    font-size: 1em;
    text-decoration: none;
    color: black;
}

.header .menu a:hover {
    color: grey;
}

* {
    box-sizing: border-box; 
}

details {
    background-color: #800080;

}

.main {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    height: 92%;
    top: 4px;
    background-color: #AEABAB;
}

.left-said {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.left-said img {
    position: relative;
    top: 2px;
    padding: 20px 5px;
    background-color: #800080;
    box-shadow: 5px 5px 7px 5px rgb(0 0 0 / 50%);
    margin: 0px 0px 15px;
}

.left-said ul {
    margin: 0;
    padding: 10px;
}

.contacts {
    width: 250px;
    padding: 20px 15px;
    background-color: #800080;
    box-shadow: 5px 5px 7px 5px rgb(0 0 0 / 50%);
}

.contacts a {
    color: black;
    text-decoration: none;
}
.contacts a:hover {
    color: gray;
}

.right-said {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
.my-code {
    display: none;
}
.code-button:hover {
    color: gray;
    cursor: pointer;
}
.my-code.active {
    display: block;
    font-size: 10px;
    background-color: #AEABAB;
    border:2px solid #202020;
}
.my-code h3 {
    margin: -5px 0px;
    padding: 5px 0px;
    text-align: center;
    border-bottom: 2px solid;
}

.right-said p {
    position: relative;
    margin: 5px 10px;
}

.right-said h2 {
    margin: 0px 10px 15px;
}

.decoration {
    width: 100%;
    padding: 10px;
    margin: 0px 0px 15px;
    background-color: #800080;
    box-shadow: 5px 5px 7px 5px rgb(0 0 0 / 50%);
}

.main .right-said ol {
    padding: 10px 20px;
}

footer {
    display: flex;
    justify-content: space-around;
    height: 5%;
    background-color: #800080;
}

footer h2 {
    margin: 0;
}

.my-github a {
    color: black;
}

.my-github a:hover {
    color: grey;
}

.rss {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 25%;
}

.rss img {
    background-color: white;
    box-shadow: 5px 5px 7px 5px rgb(0 0 0 / 50%);
}

.rss a {
    font-size: 2em;
    color: black;
    text-decoration: none;
}

.rss a:hover {
    color: grey;
}

@media (max-width: 860px) {
    body {
        margin: 0;
    }

    .body {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .left-said {
        display: flex;
        flex-direction: column;
        order: 1;
    }

    .right-said {
        order: 2;
    }

}